[data-theme="dark"] {
    --primative-color-bg-tint-400: #070E19;
    --primative-color-bg-tint-500: #091220;
    --primative-color-bg-tint-600: #0C1626;
    --primative-color-bg-tint-700: #0F1B2E;
    --primative-color-bg-tint-800: #15253F;
    --primative-color-bg-tint-900: #172843;
    --primative-color-neutral-100: #212936;
    --primative-color-neutral-200: #383f4c;
    --primative-color-neutral-300: #4f5761;
    --primative-color-neutral-400: #666d77;
    --primative-color-neutral-500: #7e848d;
    --primative-color-neutral-600: #969ba3;
    --primative-color-neutral-700: #adb1b9;
    --primative-color-neutral-800: #c4c9ce;
    --primative-color-neutral-900: #f3f6fa;
    --primative-color-neutral-black: #070e19;
    --primative-color-neutral-white: #f3f6fa;
    --primative-color-purple-100: #151131;
    --primative-color-purple-200: #201042;
    --primative-color-purple-300: #2c0f52;
    --primative-color-purple-400: #370e62;
    --primative-color-purple-500: #430d73;
    --primative-color-purple-600: #4f0c84;
    --primative-color-purple-700: #5a0b94;
    --primative-color-purple-800: #660aa4;
    --primative-color-purple-900: #7d08c6;
    --primative-color-blue-100: #091931;
    --primative-color-blue-200: #091f42;
    --primative-color-blue-300: #092752;
    --primative-color-blue-400: #092d63;
    --primative-color-blue-500: #0a3474;
    --primative-color-blue-600: #0a3b85;
    --primative-color-blue-700: #0a4196;
    --primative-color-blue-800: #0a49a6;
    --primative-color-blue-900: #408bfd;
    --primative-color-green-100: #091e23;
    --primative-color-green-200: #082925;
    --primative-color-green-300: #083527;
    --primative-color-green-400: #074129;
    --primative-color-green-500: #074c2c;
    --primative-color-green-600: #07572f;
    --primative-color-green-700: #066331;
    --primative-color-green-800: #066f33;
    --primative-color-green-900: #058638;
    --primative-color-red-100: #1b121e;
    --primative-color-red-200: #2c131c;
    --primative-color-red-300: #3e1418;
    --primative-color-red-400: #4f1416;
    --primative-color-red-500: #611414;
    --primative-color-red-600: #721512;
    --primative-color-red-700: #831510;
    --primative-color-red-800: #95160c;
    --primative-color-red-900: #b81708;
    --primative-color-orange-100: #1d1a1e;
    --primative-color-orange-200: #31221c;
    --primative-color-orange-300: #452c18;
    --primative-color-orange-400: #593416;
    --primative-color-orange-500: #6e3c14;
    --primative-color-orange-600: #824412;
    --primative-color-orange-700: #964c10;
    --primative-color-orange-800: #aa560c;
    --primative-color-orange-900: #d26608;
    --primative-color-yellow-100: #1f221e;
    --primative-color-yellow-200: #34321c;
    --primative-color-yellow-300: #4b4319;
    --primative-color-yellow-400: #605317;
    --primative-color-yellow-500: #766315;
    --primative-color-yellow-600: #8c7313;
    --primative-color-yellow-700: #a18311;
    --primative-color-yellow-800: #b8940e;
    --primative-color-yellow-900: #e3b40a;
    --primative-shadow-x-none: 0;
    --primative-shadow-spread-xs: 8;
    --primative-shadow-spread-sm: 16;
    --primative-shadow-spread-md: 24;
    --primative-shadow-spread-lg: 32;
    --primative-shadow-y-none: 0;
    --primative-shadow-y-xs: 4;
    --primative-shadow-y-sm: 8;
    --primative-shadow-y-md: 16;
    --primative-shadow-blur-xxs: 8;
    --primative-shadow-blur-xs: 16;
    --primative-shadow-blur-sm: 24;
    --primative-shadow-blur-md: 32;
    --primative-shadow-blur-lg: 48;
    --primative-shadow-color-8: 24;
    --primative-shadow-color-12: 24;
    --primative-shadow-color-16: 32;
    --primative-shadow-color-8c: rgba(2, 10, 23, 0.2400);
    --primative-shadow-color-12c: rgba(2, 10, 23, 0.2400);
    --primative-shadow-color-16c: rgba(2, 10, 23, 0.3200);
    --system-color-neutral-pure-value-white: #f3f6fa;
    --system-color-neutral-pure-value-black: #070e19;
    --system-color-neutral-mid-tone-grey-900: #f3f6fa;
    --system-color-neutral-mid-tone-grey-800: #c4c9ce;
    --system-color-neutral-mid-tone-grey-700: #adb1b9;
    --system-color-neutral-mid-tone-grey-600: #969ba3;
    --system-color-neutral-mid-tone-grey-500: #7e848d;
    --system-color-neutral-mid-tone-grey-400: #666d77;
    --system-color-neutral-mid-tone-grey-300: #4f5761;
    --system-color-neutral-mid-tone-grey-200: #383f4c;
    --system-color-neutral-mid-tone-grey-100: #212936;
    --system-color-elevation-base-background: #091220;
    --system-color-elevation-base-background-tint: #070e19;
    --system-color-elevation-base-hover: #212936;
    --system-color-elevation-base-background-alt: #f3f6fa;
    --system-color-elevation-base-content: #f3f6fa;
    --system-color-elevation-base-content-tint: #969BA3;
    --system-color-elevation-base-content-alt: #070e19;
    --system-color-elevation-one-background: #0c1727;
    --system-color-elevation-one-background-tint: #091220;
    --system-color-elevation-one-hover: #212936;
    --system-color-elevation-one-background-alt: #f3f6fa;
    --system-color-elevation-one-content: #f3f6fa;
    --system-color-elevation-one-content-tint: #969BA3;
    --system-color-elevation-one-content-alt: #070e19;
    --system-color-elevation-two-background: #0D192B;
    --system-color-elevation-two-background-tint: #0B1524;
    --system-color-elevation-two-hover: #212936;
    --system-color-elevation-two-background-alt: #f3f6fa;
    --system-color-elevation-two-content: #f3f6fa;
    --system-color-elevation-two-content-tint: #ADB1B9;
    --system-color-elevation-two-content-alt: #070e19;
    --system-color-elevation-three-background: #101E34;
    --system-color-elevation-three-background-tint: #0D1A2E;
    --system-color-elevation-three-hover: #212936;
    --system-color-elevation-three-content: #f3f6fa;
    --system-color-elevation-three-content-tint: #ADB1B9;
    --system-color-elevation-three-content-alt: #070e19;
    --system-color-elevation-superior-background: #F3F6FA;
    --system-color-elevation-superior-background-alt: #2a3646;
    --system-color-elevation-superior-content: #070E19;
    --system-color-elevation-superior-content-alt: #f3f6fa;
    --system-color-functional-special: #7d08c6;
    --system-color-functional-success: #058638;
    --system-color-functional-success-alt: #082925;
    --system-color-functional-error: #b81708;
    --system-color-functional-error-alt: #2c131c;
    --system-color-functional-warning: #d26608;
    --system-color-functional-warning-alt: #31221c;
    --system-color-functional-info: #408bfd;
    --system-color-functional-info-alt: #091f42;
    --system-color-functional-action: #408bfd;
    --system-color-functional-action-hover: #0A4196;
    --system-color-functional-action-alt: #091931;
    --system-color-functional-action-alt-hover: #091f42;
    --system-color-brand-primary: #408bfd;
    --system-color-brand-secondary: #0a3b85;
    --system-color-border-primary: #212936;
    --system-color-border-secondary: #4f5761;
    --system-color-border-hover-primary: #4f5761;
    --system-color-border-hover-secondary: #666d77;
    --system-color-border-focus: #408bfd;
    --system-color-component-menu-background-hover: #383f4c;
    --system-color-component-menu-background-hover-extra: #4f5761;
  }