:root {
    --primative-color-bg-tint-400: #eff3f8;
    --primative-color-bg-tint-500: #f3f6fa;
    --primative-color-bg-tint-600: #f6f9fd;
    --primative-color-bg-tint-700: #f9fbff;
    --primative-color-bg-tint-800: #fcfdff;
    --primative-color-bg-tint-900: #fefeff;
    --primative-color-neutral-100: #dce0e4;
    --primative-color-neutral-200: #c4c9ce;
    --primative-color-neutral-300: #adb2b8;
    --primative-color-neutral-400: #969ba3;
    --primative-color-neutral-500: #7e848d;
    --primative-color-neutral-600: #676e77;
    --primative-color-neutral-700: #4f5761;
    --primative-color-neutral-800: #38404c;
    --primative-color-neutral-900: #091220;
    --primative-color-neutral-black: #020a17;
    --primative-color-neutral-white: #ffffff;
    --primative-color-purple-100: #e9e0f6;
    --primative-color-purple-200: #dfc9f3;
    --primative-color-purple-300: #d5b3f0;
    --primative-color-purple-400: #ca9ced;
    --primative-color-purple-500: #c085e9;
    --primative-color-purple-600: #b66fe6;
    --primative-color-purple-700: #ac58e3;
    --primative-color-purple-800: #a141e0;
    --primative-color-purple-900: #8d14d9;
    --primative-color-blue-100: #dce8f6;
    --primative-color-blue-200: #c6d8f2;
    --primative-color-blue-300: #afc9ef;
    --primative-color-blue-400: #98baeb;
    --primative-color-blue-500: #82abe7;
    --primative-color-blue-600: #6b9ce4;
    --primative-color-blue-700: #548de0;
    --primative-color-blue-800: #3d7ddc;
    --primative-color-blue-900: #105fd5;
    --primative-color-green-100: #dcebe6;
    --primative-color-green-200: #c4e0d3;
    --primative-color-green-300: #acd4bf;
    --primative-color-green-400: #95c8ac;
    --primative-color-green-500: #7dbd98;
    --primative-color-green-600: #65b185;
    --primative-color-green-700: #4ea671;
    --primative-color-green-800: #369a5e;
    --primative-color-green-900: #078337;
    --primative-color-red-100: #efe2e3;
    --primative-color-red-200: #eacdcc;
    --primative-color-red-300: #e6b8b5;
    --primative-color-red-400: #e1a29e;
    --primative-color-red-500: #dd8d87;
    --primative-color-red-600: #d87870;
    --primative-color-red-700: #d4635a;
    --primative-color-red-800: #cf4e43;
    --primative-color-red-900: #c62415;
    --primative-color-orange-100: #f2eae2;
    --primative-color-orange-200: #f2ddca;
    --primative-color-orange-300: #f1d0b2;
    --primative-color-orange-400: #f0c29a;
    --primative-color-orange-500: #f0b582;
    --primative-color-orange-600: #efa86a;
    --primative-color-orange-700: #ee9b53;
    --primative-color-orange-800: #ed8e3b;
    --primative-color-orange-900: #ec740b;
    --primative-color-yellow-100: #f4f2e2;
    --primative-color-yellow-200: #f5edcb;
    --primative-color-yellow-300: #f5e8b4;
    --primative-color-yellow-400: #f6e49c;
    --primative-color-yellow-500: #f7df85;
    --primative-color-yellow-600: #f7da6d;
    --primative-color-yellow-700: #f8d556;
    --primative-color-yellow-800: #f9d13f;
    --primative-color-yellow-900: #fac710;
    --primative-shadow-x-none: 0;
    --primative-shadow-spread-xs: 8;
    --primative-shadow-spread-sm: 16;
    --primative-shadow-spread-md: 24;
    --primative-shadow-spread-lg: 32;
    --primative-shadow-y-none: 0;
    --primative-shadow-y-xs: 4;
    --primative-shadow-y-sm: 8;
    --primative-shadow-y-md: 16;
    --primative-shadow-blur-xxs: 8;
    --primative-shadow-blur-xs: 16;
    --primative-shadow-blur-sm: 24;
    --primative-shadow-blur-md: 32;
    --primative-shadow-blur-lg: 48;
    --primative-shadow-color-8: 8;
    --primative-shadow-color-12: 12;
    --primative-shadow-color-16: 16;
    --primative-shadow-color-8c: rgba(2, 10, 23, 0.0800);
    --primative-shadow-color-12c: rgba(2, 10, 23, 0.1200);
    --primative-shadow-color-16c: rgba(2, 10, 23, 0.1600);
    --system-color-neutral-pure-value-white: #ffffff;
    --system-color-neutral-pure-value-black: #020a17;
    --system-color-neutral-mid-tone-grey-900: #091220;
    --system-color-neutral-mid-tone-grey-800: #38404c;
    --system-color-neutral-mid-tone-grey-700: #4f5761;
    --system-color-neutral-mid-tone-grey-600: #676e77;
    --system-color-neutral-mid-tone-grey-500: #7e848d;
    --system-color-neutral-mid-tone-grey-400: #969ba3;
    --system-color-neutral-mid-tone-grey-300: #adb2b8;
    --system-color-neutral-mid-tone-grey-200: #c4c9ce;
    --system-color-neutral-mid-tone-grey-100: #dce0e4;
    --system-color-elevation-base-background: #f3f6fa;
    --system-color-elevation-base-background-tint: #eff3f8;
    --system-color-elevation-base-hover: #dce0e4;
    --system-color-elevation-base-background-alt: #020a17;
    --system-color-elevation-base-content: #020a17;
    --system-color-elevation-base-content-tint: #4f5761;
    --system-color-elevation-base-content-alt: #ffffff;
    --system-color-elevation-one-background: #f6f9fd;
    --system-color-elevation-one-background-tint: #f3f6fa;
    --system-color-elevation-one-hover: #dce0e4;
    --system-color-elevation-one-background-alt: #020a17;
    --system-color-elevation-one-content: #020a17;
    --system-color-elevation-one-content-tint: #4f5761;
    --system-color-elevation-one-content-alt: #ffffff;
    --system-color-elevation-two-background: #f9fbff;
    --system-color-elevation-two-background-tint: #f6f9fd;
    --system-color-elevation-two-hover: #dce0e4;
    --system-color-elevation-two-background-alt: #020a17;
    --system-color-elevation-two-content: #020a17;
    --system-color-elevation-two-content-tint: #4f5761;
    --system-color-elevation-two-content-alt: #ffffff;
    --system-color-elevation-three-background: #fcfdff;
    --system-color-elevation-three-background-tint: #f9fbff;
    --system-color-elevation-three-hover: #dce0e4;
    --system-color-elevation-three-content: #020a17;
    --system-color-elevation-three-content-tint: #38404c;
    --system-color-elevation-three-content-alt: #ffffff;
    --system-color-elevation-superior-background: #020a17;
    --system-color-elevation-superior-background-alt: #fefeff;
    --system-color-elevation-superior-content: #ffffff;
    --system-color-elevation-superior-content-alt: #020a17;
    --system-color-functional-special: #8d14d9;
    --system-color-functional-success: #078337;
    --system-color-functional-success-alt: #c4e0d3;
    --system-color-functional-error: #c62415;
    --system-color-functional-error-alt: #eacdcc;
    --system-color-functional-warning: #ec740b;
    --system-color-functional-warning-alt: #f2ddca;
    --system-color-functional-info: #105fd5;
    --system-color-functional-info-alt: #c6d8f2;
    --system-color-functional-action: #105fd5;
    --system-color-functional-action-hover: #548DE0;
    --system-color-functional-action-alt: #DCE8F6;
    --system-color-functional-action-alt-hover: #c6d8f2;
    --system-color-brand-primary: #105fd5;
    --system-color-brand-secondary: #afc9ef;
    --system-color-border-primary: #dce0e4;
    --system-color-border-secondary: #adb2b8;
    --system-color-border-hover-primary: #adb2b8;
    --system-color-border-hover-secondary: #969ba3;
    --system-color-border-focus: #105fd5;
    --system-color-component-menu-background-hover: #dce0e4;
    --system-color-component-menu-background-hover-extra: #c4c9ce;
  }